<!DOCTYPE html>
<html>
  <head>
    ...
  </head>
  <body>
  <div class="footer-wrap" th:fragment="footer">
			<div class="footer-text-wrap">
				<div class="footer-logo">
					<a href="index.html"><img src="images/logo.png" /></a>
				</div>
				<div class="footer-block1">
					<div class="footer-heading">Explore</div>
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">how it works</a></li>
							<li><a href="pricing.html">pricing plans</a></li>
							<li><a href="signup.html">new user signup</a></li>
							<li><a href="login.html">login</a></li>
							<li><a href="contact.html">contact</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block2">
					<div class="footer-heading">Books</div>
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">early readers</a></li>
							<li><a href="pricing.html">young readers</a></li>
							<li><a href="signup.html">fluent readers</a></li>
							<li><a href="login.html">educational</a></li>
							<li><a href="contact.html">comics</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block3">
					<div class="footer-heading">Good Reads</div>
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">top 100 books</a></li>
							<li><a href="pricing.html">cbse recommended</a></li>
							<li><a href="signup.html">top 50 classics</a></li>
							<li><a href="login.html">indian authors</a></li>
							<li><a href="contact.html">all time read list</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block-last">
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">connect with us on
									facebook</a></li>
							<li><a href="how-it-works.html">info@bookshelf-library.com</a></li>
							<li>9884409372</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
    
  </body>
</html>