<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headpart :: headPart}">
<title>Manage Cast</title> <
</head>
<body class="skin-black" style="height: auto; min-height: 100%;">
	<header th:replace="~{fragments/header :: header}"></header>
	<div class="wrapper row-offcanvas row-offcanvas-left">
		<aside th:replace="~{fragments/sideNav :: sideNav}"></aside>

		<aside class="right-side">
			<section class="content-header">
				<h1>Change Password</h1>

			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-primary">
							<form autocomplete="off" action="#"
								th:action="@{/changepassword}" method="post" role="form">
								<div class="box-body table-responsive">

									<div class="form-group">
										<label>Staff</label> <select name= "staffId" id="staffId">
											<option value="-1">Select Staff</option>
											<option th:each="dropDownItem : ${staffs}"
												th:value="${dropDownItem.id}" th:text="${dropDownItem.emailId}" />

										</select>

										

									</div>
									<div class="form-group">
										<label>New Password</label> <input type="password"
											name="newpassword" id="newpassword"
											placeholder="New Password" class="form-control" />


									</div>

									<div class="form-group">
										<label>New Password</label> <input type="password"
											name="confirmnewpassword" id="confirmnewpassword"
											placeholder="Confirm New Password" class="form-control" />


									</div>


								</div>

								<div class="form-group">

									<button type="submit" class="btn btn-primary">Change
										Password</button>
									<a class="btn btn-primary" th:href="@{/managestaff}">View
										All</a>


								</div>

								<div class="form-group has-success"
									th:if="${successMessage != null}">
									<label class="control-label" for="inputError"><i
										class="fa fa-times-circle-o"></i> <span
										th:utext="${successMessage}"></span> </label>

								</div>
								<div class="form-group has-error"
									th:if="${errorMessage != null}">
									<label class="control-label" for="inputError"><i
										class="fa fa-times-circle-o"></i> <span th:utext="${errorMessage}"></span>
									</label>

								</div>

							</form>
						</div>
						<!-- /.box-body -->


					</div>
				</div>
	</div>
	</section>

	</aside>

</body>
</html>