<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headpart :: headPart}">
<title>Manage Cast</title>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"> -->

</head>
<body class="skin-black" style="height: auto; min-height: 100%;">
	<header th:replace="~{fragments/header :: header}"></header>
	<div class="wrapper row-offcanvas row-offcanvas-left">
		<aside th:replace="~{fragments/sideNav :: sideNav}"></aside>

		<aside class="right-side">
			<section class="content-header">
				<h1>
					Confirm Pickup
				</h1>
				
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">confirm pickup status</h3>
							</div>
				           <form id ="form" method="post" action="/updatemydeliveries">  
							<div class="box-body table-responsive" >
								<table id="confirmpickupTable"  class="display select" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Order ID</th>
											<th>Customer Name</th>
											<th>Customer Email ID</th>
											 <th>bookID</th>
											 <th>bookTitle</th>
											 <th>PhoneNumber</th>
											 <th>Address Details</th>
											  <th>Confirm Pickup Status </th> 
										</tr>
									</thead>
								</table>								
							</form> 
							
							
							<a href="javascript:void(0);"  class="btn btn-primary" onClick="javascript:saveAllConfirmPickup();">Save Changes</a>
							
				      
							<!-- /.box-body -->


						</div>
					</div>
				</div>
			</section>

		</aside>
</body>
</html>