<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headpart :: headPart}">
<title>Manage Cast</title> <
</head>
<body class="skin-black" style="height: auto; min-height: 100%;">
	<header th:replace="~{fragments/header :: header}"></header>
	<div class="wrapper row-offcanvas row-offcanvas-left">
		<aside th:replace="~{fragments/sideNav :: sideNav}"></aside>
		
		<aside class="right-side">
			<section class="content-header">
				<h1>
					Manage Areas
				</h1>
				
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Areas List </h3>
							</div>
							<div class="box-body table-responsive" >
                                    <table id="areaTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Area ID</th>
                                                <th>Area Name</th>
                                                <th>Pincode</th>
                                                <th>Status</th>
                                                
                                            </tr>
                                        </thead>
                                       
                                        
                                    </table>
                                    <a th:href="@{/addarea}" class="btn btn-primary">New</a>
                                    <a href="javascript:void(0);" onclick="javascript:printFunction();" class="btn btn-primary">Print this page</a>
                                </div><!-- /.box-body -->
                         
                         
						</div>
					</div>
				</div>
			</section>

		</aside>
		
		 
        
</body>
</html>