<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headpart :: headPart}">
<title>Manage Cast</title> <
</head>
<body class="skin-black" style="height: auto; min-height: 100%;">
	<header th:replace="~{fragments/header :: header}"></header>
	<div class="wrapper row-offcanvas row-offcanvas-left">
		<aside th:replace="~{fragments/sideNav :: sideNav}"></aside>

		<aside class="right-side">
			<section class="content-header">
				<h1>
					Update Subscription
				</h1>
				
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-primary">
							<form autocomplete="off" action="#"
								th:action="@{/updatesubscription}"
								th:object="${subscription}" method="post" role="form">
								<div class="box-body table-responsive">
								<input type="hidden"
											th:field="*{isActive}" placeholder="Book Title"
											class="form-control" />
								<div class="form-group">
										<label>Rule</label> <select th:field="*{ruleId}">
											<option value="-1">Rule</option>
											<option th:each="dropDownItem : ${rules}"
												th:value="${dropDownItem.ruleId}" th:text="${dropDownItem.ruleName}" />

										</select>
										<div class="form-group has-error"
											th:if="${#fields.hasErrors('ruleId')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{ruleId}" class="validation-message"></span>
											</label>


										</div>
									</div>

									<div class="form-group">
										<label>Name</label> <input type="text" th:field="*{subscriptionName}"
											placeholder="subscriptionName" class="form-control" /> <input
											type="hidden" th:field="*{subcId}"
											placeholder="Enter Rule Name" class="form-control" />
										<div class="form-group has-error"
											th:if="${#fields.hasErrors('subscriptionName')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{subscriptionName}" class="validation-message"></span>
											</label>


										</div>

									</div>

									<div class="form-group">
										<label>Description </label> <input type="text"
											th:field="*{subscriptionDescription}" placeholder="subscriptionDescription"
											class="form-control" />
										<div class="form-group has-error"
											th:if="${#fields.hasErrors('subscriptionDescription')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{subscriptionDescription}" class="validation-message"></span>
											</label>


										</div>
									</div>

									<div class="form-group">
										<label>Subscription Summary</label> <input type="text"
											th:field="*{subscriptionSummary}"
											placeholder="subscriptionSummary"
											class="form-control" />
										<div class="form-group has-error"
											th:if="${#fields.hasErrors('subscriptionSummary')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{subscriptionSummary}" class="validation-message"></span>
											</label>


										</div>
									</div>
									<div class="form-group">
										<label>Subscription Price</label> <input type="text"
											th:field="*{amount}" placeholder="Price of subscription"
											class="form-control" />
											<div class="form-group has-error"
											th:if="${#fields.hasErrors('amount')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{amount}" class="validation-message"></span>
											</label>


										</div>
									</div>

									<div class="form-group">
										<label>Number of Months</label> <input
											type="text" th:field="*{noofMonths}"
											placeholder="noofMonths" class="form-control" />
										<div class="form-group has-error"
											th:if="${#fields.hasErrors('noofMonths')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{noofMonths}" class="validation-message"></span>
											</label>


										</div>

									</div>

									<div class="form-group">
										<label>Max Number of Books Per Delivery</label> <input type="text" th:field="*{maxNumberofBooks}"
											placeholder="maxNumberofBooks" class="form-control" />
										<div class="form-group has-error"
											th:if="${#fields.hasErrors('maxNumberofBooks')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{maxNumberofBooks}" class="validation-message"></span>
											</label>


										</div>
									</div>
									
									<div class="form-group">
										<label>Max Number of Deliveries per month</label> <input type="text" th:field="*{maxNumberofDelivery}"
											placeholder="maxNumberofDelivery" class="form-control" />
											
											<div class="form-group has-error"
											th:if="${#fields.hasErrors('maxNumberofDelivery')}">
											<label class="control-label" for="inputError"><i
												class="fa fa-times-circle-o"></i> <span
												th:errors="*{maxNumberofDelivery}" class="validation-message"></span>
											</label>


										</div>
										
									</div>




								</div>

								<div class="form-group">

									<button type="submit" class="btn btn-primary">Update</button>
									<a class="btn btn-primary" th:href="@{/managesubscription}">View
										All</a>


								</div>


								<div class="form-group has-error" th:if="${errorMsg != null}">
									<label class="control-label" for="inputError"><i
										class="fa fa-times-circle-o"></i> <span th:utext="${errorMsg}"></span>
									</label>

								</div>

							</form>
						</div>
						<!-- /.box-body -->


					</div>
				</div>
	</div>
	</section>

	</aside>


</body>
</html>